*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 110px;
    max-width: 1500px;
    min-width: 350px;
    /* border: 2px solid black; */
    margin: 10px auto;
    line-height: 110px;
    background-color: rgb(175, 134, 83);
}
.logo{
    width: 10%;
    height: 100%;
    /* border: 2px solid red;    */
    float: left;
}
.logo img{
    width: 110px;
    height: 110px;
    cursor: pointer;
}
.menu{
    width: 90%;
    height: 100%;
    /* border: 2px solid red; */
    float: left;
}
.menu nav ul{
    float: right;
}
.menu nav ul li{
    display: inline-block;
    list-style: none;
}
.menu nav ul li a{
    text-decoration: none;
    font-size: 25px;
    padding: 0px 30px;
    color: black;
    text-transform: uppercase;
}
.menu nav ul li a:hover{
    color: red;
    text-decoration: underline;
}